---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
interface ProductType {
  id: number;
  title: string;
  price: number;
  category: string;
  description: string;
  image: string;
}
const products = (await fetch("https://fakestoreapi.com/products").then((res) =>
  res.json()
)) as ProductType[];
---

<Layout title="Welcome to Astro.">
  <ul>
    {
      products.map((product) => (
        <li>
          <Card
            name={product.title}
            price={product.price}
            image={{
              url: product.image,
              alt: product.title,
            }}
          />
        </li>
      ))
    }
  </ul>
</Layout>
